.site-footer {
    grid-column: span 12;
    display: flex;
    align-items: center;
    /* background-color:#0000b3;;
    color: white; */
    font-size: 0.8em;
    background-color: white;
    border-top: #0000b3 solid 2px;
    color: black;

}


