@import './site-container.css';
@import './site-top.css';
@import './site-middle.css';
@import './site-footer.css';

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 10px;
}

.card {
    display: grid;
     border: 1px solid hsl(220, 2%, 74%);
     margin-top: 10px; 
     padding: 5px 10px;
     margin-bottom: 10px;
}


