body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    width: 80%;
}

.container {
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 30px 1fr 30px;
    column-gap: 20px;
}

.container > header {
    grid-column: span 12;
    background-color:#e6e6e6;
    padding-bottom: 10px;
    padding-left: 10px;
}

.container > nav {
    grid-column: span 12;
    display: flex;
    align-items: center;
    column-gap: 30px;
    background-color:#0052cc;
    color: white;
    padding-left: 10px;

}

.container > nav > div {
    /* width:10em; */
    /* text-align: center; */
}

aside {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

aside > div {
    /* text-align: center; */
    margin: 5px 5px;
    padding: 5px 5px;
    /* border: 1px solid; */
}

main {
    grid-column: span 11;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

#author-img {
    border-radius: 50%;
    height: 80px;
    width: 80px;   
}

.intro {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.container > footer {
    grid-column: span 12;
    display: flex;
    align-items: center;
    background-color:#0052cc;
    color: white;
    font-size: 0.8em;
}

/* .container {
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
        "hd hd hd hd hd hd hd hd" 
        "sd mn mn mn mn mn mn mn"
        "ft ft ft ft ft ft ft ft"
} */

/* .hd {
    grid-area: hd;
}

.sd {
    grid-area: sd;
}

.mn {
    grid-area: mn;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.ft {
    grid-area: ft;
} */