body {
    margin: auto;
    width: 80%;
    font-family: 'Roboto', sans-serif;
}

#author_img {
    border-radius: 50%;
    height: 80px;
    min-width: 80px;
    
}

.container {
    display: grid;
    grid-template-rows: minmax(100px, auto) 1fr 50px;
    grid-template-areas: "hd" "main" "ft";
    /* row-gap: 20px; */
    background-color: #ffe8d6;
}

.about {
    display: grid;
    /* grid-template-columns: 20% 80%; */
    /* gap: 10px; */
}

.header {
    grid-area: hd;
    background-color: #ddbea9;
}

.main {
    grid-area: main;
    
    /* display: flex;
    flex-direction: column; */
    /* border: 1px solid blue; */
}

.posts {
    /* display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 10px 10px; */
}

.box {
    min-height: 100px;
    margin-bottom: 10px;
    /* border: 1px solid rgb(0, 255, 34);  */
}

.footer {
    grid-area: ft;
    /* border: 1px solid yellow; */
    font-size: 0.8em;
    margin-top: 10px;
}

@media(min-width:700px) {
    .about {
        display: grid;
        grid-template-columns: 100px 1fr;
        /* gap: 10px; */
        align-items: center;
        justify-items: start;
    }

    /* .posts {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    } */
} 